@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond';
  @import 'https://use.fontawesome.com/releases/v5.14.0/css/all.css';
  @import 'https://fonts.googleapis.com/css?family=Lato';
  * {
    font-family: Lato;
     padding: 2px;  
     }
     h1,h2,h3 {
       font-family: Cormorant Garamond;
       letter-spacing:1px;
     }
    .txt-secondary {
      font-family: Lato;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .secondary-header {
      font-family: Lato;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    .txt-med {
      font-size: 14px;
    }
    .cap {
      margin-bottom: -15px;
      padding-bottom: -15px;
      font-size: 10px;
    }
    .rd {
      line-height: inherit;
      cursor: pointer;
      text-align: center;
      padding:5;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 45%;
    }
    .rd-0 {
      box-shadow: none !important;
    }
    .rd:hover {
      border:2px solid rgb(166, 78, 38);
      border-radius: 45%;
    }
    input:checked + .rd {
      border:2px solid rgb(166, 78, 38);
      border-radius: 45%;
    }
    .txt-sm {
        font-size: 10px !important;
      line-height: 14px !important;
    }
    .btn-outline-tc {
      border: solid 1px #a64e26 !important;
      color: #a64e26 !important;
    }
    .btn-outline-tc:hover {
        background-color: #a64e26 !important;
      color: #FBF8F5 !important;
    }
    input:checked + .btn-outline-tc {
    background-color: #a64e26 !important;
      color: #FBF8F5 !important;
    }
    .btn-outline-nb {
      border: solid 1px #222445 !important;
      color: #222445 !important;
    }
    .btn-outline-nb:hover {
        background-color: #222445 !important;
      color: #FBF8F5 !important;
    }
    input:checked + .btn-outline-nb {
    background-color: #222445 !important;
      color: #FBF8F5 !important;
    }
    .btn-outline-dg {
      border: solid 1px #5C5451 !important;
      color: #5C5451 !important;
    }
    .btn-outline-dg:hover {
        background-color: #5C5451 !important;
      color: #FBF8F5 !important;
    }
    input:checked + .btn-outline-dg {
    background-color: #5C5451 !important;
      color: #FBF8F5 !important;
    }
    .btn-outline-red {
      border: solid 1px #84200f !important;
      color: #84200f !important;
    }
    .btn-outline-red:hover {
        background-color: #84200f !important;
      color: #FBF8F5 !important;
    }
    input:checked + .btn-outline-red {
    background-color: #84200f !important;
      color: #FBF8F5 !important;
    }
    .btn-outline-gr {
      border: solid 1px #25412A !important;
      color: #25412A !important;
    }
    .btn-outline-gr:hover {
        background-color: #25412A !important;
      color: #FBF8F5 !important;
    }
    input:checked + .btn-outline-gr {
        background-color: #25412A !important;
        color: #FBF8F5 !important;
    }
    .btn-cr {
      background-color: #a64e26 !important;
      color: #FBF8F5 !important;
      transition: background-color .2s ease-in-out;
      letter-spacing: .2em;
      font-size: 12px;
      font-family: Lato;
      text-transform: uppercase;
      font-weight: 200;
    }
    .btn-cr:hover {
      background-color: #84200f !important;
    }
    .card {
      background-color: rgba(53, 53, 53,.1) !important;
    }
    input, .select2-selection, textarea, .form-select {
      border: none !important;
        background-color:rgba(255,255,255,.5) !important;
      border-bottom: solid 1px #e0dedc !important;
      
    }
    .selection {
      padding: 0 !important;
    }
    .list-group-item {
        background-color: rgba(53, 53, 53,0) !important;
        }
        .bg-tc {
          background-color: #a64e26 !important;
          color: #e0dedc;
        }
        .bg-red {
          background-color: #84200f !important; 
          color: #e0dedc;
        }
        .bg-gr {
          background-color:  #25412A !important;
          color: #e0dedc;
        }
    .tc-header {
      background-color: #a64e26 !important;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
    }
    .tuc-header {
      background-color:  #583D52 !important;
      color: #e0dedc;
      letter-spacing: 2px;
      font-weight: 600; 
    }
    .len-header {
      background-color:  #222445 !important;
      color: #e0dedc;
      letter-spacing: 2px;
      font-weight: 600; 
    }